<ion-view view-title="Liste des pays">
  <ion-content>
    <form name="searchForm" ng-submit="submit()">
      <div class="list">
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Rechercher..." ng-model="i.txt">
          </label>
          <button class="button button-small">
            Lancer
          </button>
        </div>
      </div>
    </form>
    <ion-list>
      <ion-item ng-click="seePays(p)" ng-repeat="p in pays | filter: i.txt">{{p.name}}</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
